<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELCOME!</title>
    <link rel='stylesheet'href="../../static/styles/NOT_SIGNED_IN/info.css">
</head>
<body>
    <!--TITLE vvv-->
    <div id="Title">
        <h1>Welcome!:</h1>
        <p>Introducing one of the best online grocery stores online, click one of the options below to explore more!</p>
    </div>
    <!--NAV BAR vvv-->
        <div id="OPTIONS">
            <button><a href="/sign_up" class="trans">Sign Up</a></button>
            <button><a href="/shop" class="trans">Shop around</a></button>
            <button><a href="/complain" class="trans">Contact Us</a></button>
        </div>
        <h1 class="h1">Sorry!</h1>
        <p class="p"> We are still developing this webpage at the moment, come back again soon.<br><b>SIGN UP</b> to get notified when we update our website!</p>
</body>
</html>