<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDER GROCERIES</title>
    <link rel="stylesheet" href="ordering.css">
</head>
<body>
    <div id="Title">
        <h1>Ordering:</h1>
        <p>(without tax)</p>
    </div>

    <!--OPTIONS vvv-->
        <div id="OPTIONS">
            <button><a href="index.html" class="trans">Shop around!</a></button>
            <button><a href="complain.html" class="trans">Complain?</a></button>
            <button><a href="sign_up.html" class="trans">Sign Up?</a></button>
        </div>

    <div id="UhOh">
        <h1> Uh oh!</h1>
        <p>Seems like we're currently out of stock for this product, we apologize for the inconvenience.</p>
        <img src="https://static.vecteezy.com/system/resources/previews/018/717/825/non_2x/hand-drawn-sad-face-doodle-expression-on-transparent-background-free-png.png" alt="A sad face." width="200">
    </div>
</body>
</html>