<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel='stylesheet'href="../../static/styles/SIGNED_IN/info.css">
</head>
<body>
    <div class="AccTitle">
        <!--PROFILE vvv-->
        <div id="Profile">
            <h1><a href="/profile"> Account </a></h1>
            <p class="TEXT"> Name: {{fname}} {{lname}} </p>
        </div>
        <!--TITLE vvv-->
        <div id="Title">
            <h1>Welcome!:</h1>
            <p>Introducing one of the best online grocery stores online, click one of the options below to explore more!</p>
        </div>
    </div>
    <!--NAV BAR vvv-->
        <div id="OPTIONS">
            <button><a href="/" class="trans">Sign Out</a></button>
            <button><a href="/shop2" class="trans">Shop around</a></button>
            <button><a href="/contact" class="trans">Contact Us</a></button>
        </div>
        <h1 class="h1">Sorry!</h1>
        <p class="p"> We are still developing this webpage at the moment, come back again soon.</p>
   <!--Thoughtful Msg vvv-->
    <div id="ThoughtMsg">
        <p>We're happy to have you on board with us. We greatly appreciate you!</p>
    </div>

</body>
</html>