<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel='stylesheet'href="../../static/styles/SIGNED_IN/info.css">
</head>
<body>
    <!--PROFILE vvv-->
    <div id="Profile">
        <h1> Account </h1>
        <p class="TEXT"> Name: <a href="/profile">{{fname}} {{lname}}</a> </p>
    </div>
    <!--TITLE vvv-->
    <div id="Title">
        <h1>Welcome!:</h1>
        <p>Introducing one of the best online grocery stores online, click one of the options below to explore more!</p>
    </div>
    <!--NAV BAR vvv-->
        <div id="OPTIONS">
            <button><a href="/shop2" class="trans">Shop around</a></button>
            <button><a href="/contact" class="trans">Contact Us</a></button>
        </div>


</body>
</html>